<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body class="bg-slate-100 flex flex-col content-end">
    <div class="content-center">
        <span id="not-found" class="text-3xl py-2">Uh oh, page not found!</span>
        <br>
        <button class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none">Go home</button>
    </div>
</body>
</html>