<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="flex flex-col bg-slate-100">
  <fieldset class="flex justify-center">
    <form th:action="@{/login}" method="POST" id="login-form">
      <legend>Please Log In</legend>
      <div id="username-box">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
      </div>
      <br>
      <div id="password-box">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <br>
      <!-- <div id="github-login">
        <a th:href="@{/oauth2/authorization/github}" value="Login with Github" id="github-login-button">Login with Github</a>
      </div> -->
      <div id="user-type">
        <span>I am a: </span>
        <label for="student-radio">Student</label>
        <input type="radio" name="user-radio" id="student-radio" value="Student">
        <label for="teacher-radio">Teacher</label>
        <input type="radio" name="user-radio" id="teacher-radio" value="Teacher">
      </div>
      <input type="submit" value="Log In" id="submit-button"> 
      <!-- <input type="button" value="Sign Up?" th:action="@{/signup}" id="signup-button"> -->
    </form>
  </fieldset>
</body>

</html>